body {
    height: 100%;
    overflow-x: hidden;
}
.bg {
    background-image: url('../../img/food.jpg');
    height: 50%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.old-book{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info {
    background-image: url('../../img/info.jpg');
    height: 25%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon {
    font-size: 25px;
    padding-right: 15px;

}
.header {
    background-image: url('../../img/header.jpg');
    height: 25%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.scrolling-wrapper {
    overflow-x: scroll;
}